color {
  color: #116466, #2c3531, #d9b080, #ffcb9a, #d1e8e2;
}
colors {
  color: #f7768e, #ff9e64, #e0af68, #9ece6a, #73daca, #b4f9f8, #2ac3de, #7aa2f7,
    #bb9af7, #c0caf5, #a9b1d6, #9aa5ce, #565f89, #414868, #24283b, #1a1b26;
}

body {
  background-size: 100%;
  font-family: "EB Garamond", serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*----------Header----------*/
.nav-conatiner {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #1a1b26;
}

header h1 {
  line-height: normal;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.h1 {
  float: left;
  color: #bb9af7;
}

/*----------Nav Links----------*/
nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;

  position: relative;
}

nav a {
  color: #bb9af7;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #2ac3de;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #2ac3de;
  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/*----------Gradient----------*/
.gradient {
  background-image: linear-gradient(
    140deg,
    #2ac3de 0%,
    #bb9af7 50%,
    #9ece6a 75%
  );
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 5em;
}

.quotes {
  color: white;
  padding: 2em;
  font-weight: bold;
  font-size: 20px;
}

.button {
  background-color: white;
  border-radius: 1em;
}

/*----------Selfie----------*/
.selfie-background {
  margin: 80px auto;
  /* position: relative; */
  width: 15em;
  height: 15em;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.selfie {
  width: 15em;
  height: 15em;
  border-radius: 50%;
}

/*----------Body----------*/

.section {
  color: #9ece6a;
  border-right: 3px solid #2ac3de;
  /* padding: 10px; */
  margin: 20px;
  text-align: center;
}

.bio {
  color: #9ece6a;
  font-weight: bold;
}

.shadow {
  background-color: #00000060;
  padding: 1em;
  /* margin: 1em; */
  border-radius: 1em;
}

.img-text {
  text-align: center;
  background-color: #00000060;
  border-radius: 1em;
  padding: 0.2em;
  margin: 1em;
}

/*----------Contacts----------*/

.contactLinksDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #00000049;
      border-radius: 50%; */
}

.links {
  color: #bb9af7;
  text-transform: uppercase;
}

.links:hover {
  color: #2ac3de;
}
